<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <appSettings>
    <add key="xml" value=".xml" />
    <add key="xaml" value=".xaml" />
    <add key="sql" value=".sql" />
    <add key="raw" value=".raw" />
    <add key="xlsx" value=".xlsx" />
    <add key="dll" value=".dll" />
    <add key="txt" value=".txt" />
    <add key="xsd" value=".xsd" />
    <add key="csproj" value=".csproj" />
    <add key="cs" value=".cs" />
    <add key="Select All" value="Select All" />
  </appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>	
	
</configuration>
